name: AWS Infra Deploy (Terraform)

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to deploy"
        required: true
        type: choice
        options: [dev, staging, prod]

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.6"

      - name: Terraform Init
        working-directory: infra/envs/${{ inputs.environment }}
        run: terraform init

      - name: Terraform Validate
        working-directory: infra/envs/${{ inputs.environment }}
        run: terraform validate

      - name: Terraform Apply
        working-directory: infra/envs/${{ inputs.environment }}
        run: terraform apply -auto-approve

      - name: Terraform Output
        working-directory: infra/envs/${{ inputs.environment }}
        run: terraform output
