name: AWS Infra Destroy (Terraform)

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to destroy"
        required: true
        type: choice
        options: [dev, staging, prod]
      confirm:
        description: 'Type "DESTROY" to confirm'
        required: true
        default: ""

permissions:
  id-token: write
  contents: read

jobs:
  terraform-destroy:
    if: ${{ inputs.confirm == 'DESTROY' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.10.5"

      - name: Terraform Init
        working-directory: infra/envs/${{ inputs.environment }}
        run: terraform init

      - name: Terraform Destroy
        working-directory: infra/envs/${{ inputs.environment }}
        run: terraform destroy -auto-approve
